/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.share-btn-container {
    /* background: #fff;*/
    padding: 10px;
}
.share-btn-container a i{
    font-size: 28px;
}
.share-btn-container a {
    margin: 12px 0;
   transition: 500ms;
   word-spacing: 16px;
}
.share-btn-container a:hover {
    transform:scale(1.2);
}
    .share-btn-container .fa-facebook {
        color: #1877f2;
    }
    .share-btn-container .fa-twitter {
        color: #1da1f2;
    }
    .share-btn-container .fa-linkedin {
        color: #0077b5;
    }
    .share-btn-container .fa-whatsapp {
        color: #25d366;
    }


html {
    background-color: var(--white-alpha-25-color);
}

body {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}


h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {

    max-height: 20vh; /*not want to take all vertical space*/
    object-fit: contain; /*show all image, autosized, no cut, in available space*/
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: black;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

    .btn:hover {
        background-color: rgba(255, 255, 255, 0.12);
    }



@media (max-height: 480px) and (min-width: 480px) and (max-width: 600px) {
    .card {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        width: 320px; /*this is the iPhone screen width.*/
        position: absolute;
        top: 100%;
        left: 0
    }
}
.card {
    background-color: white;

    object-fit: contain; /*show all image, autosized, no cut, in available space*/
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #ffffff 40%, #b9dbff 100%);
}

.card_title {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: black;
    font-size: 0.875rem;
    line-height: 1.7;
    margin-bottom: 1.0rem;
    font-weight: 400;
}
